	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		font-family: 'Poppins', sans-serif;
	}
	.navbar{
		display: flex;
		align-items: center;
		padding: 20px;
	}
	nav{
		flex: 1;
		text-align: right;
	}

	nav ul{
		display: inline-block;
		list-style: none;
	}
	nav ul li{
		display: inline-block;
		margin-right: 20px;
	}
	a{
		text-decoration: none;
		color: #555555;
	}
	p{
		color: #555555;
	}
	.container{
		max-width: 1300px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.col-2{
		flex-basis: 50%;
		min-width: 300px;
	}

	.col-2 img{
		max-width: 100%;
		padding: 50px 0;
	}
	.col-2 h2{
		font-size: 30px;
		line-height: 40px;
		margin: 25px 0;
	}
	.btn{
		display: inline-block;
		background: #98FB98;
		padding: 8px 30px;
		margin: 30px 0;
		border-radius: 30px; 
	}
	.btn:hover{
		background: #98FB98;
	}
	.header{
	   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
	}
	.header .row{
		margin-top: 70px;
	}
	.categories{
		margin-top: 70px;
	}
	.col-3{
		flex-basis: 20%;
		min-width: 200px;
		margin-bottom: 30px;
	}
	.small-container{
		max-width: 1080px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
	.col-4{
		flex-basis: 25%;
		padding: 10px;
		min-width: 200px;
		margin-bottom: 50px;
		transition: transform 0.5s;
	}
	.title{
		text-align: center;
		margin: 0 auto 80px;
		position: relative;
		line-height: 60px;
		color: #555555;
	}
	.title::after{
		content: '';
	   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
		width: 80px;
		height: 5px;
		border-radius: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	h4{
		color: #555555;
		font-weight: normal;
	}
	.col-4 p{
		font-size: 14px;
	}
	.col-4:hover{
		transform: translateY(-7px);
	}
	.offer{
	 background: linear-gradient(to right, #a1d3b0, #f6f1d3);
	 margin-top: 80px;
	 padding: 30px 0;
	}
	.col-2 .offer-img{
		padding: 50px;
	}
	small{
		color:  #555555;
	}
	.testimonial{
		padding: 108px;
	}
	.testimonial .col-3{
		text-align: center;
		padding: 5px;
		box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
		cursor: pointer;
		transition: transform 0.5s;
	}
	.testimonial .col-3 img{
		
		margin-top: 20px;
		border-radius: 50%;
	}
	.testimonial .col-3:hover{
		transform: translateY(-10px);
	}
	.fa.fa-quote-left{
		font-size: 34px;

	}
	.col-3 p{
		font-size: 12px;
		margin: 12px 0;
		
	}
	.testimonial .col-3 h3{
		font-weight: 600;
		color: #555555;
		font-size: 18px;
	}
	.fa.fa-star{
		color: black;
	}
	/*--------------------------------------Cart----------------------------------*/

	.cart-page{
		margin: 30px auto;
	}

	table{
		width: 100%;
		border-collapse: collapse;
	}

	.cart-info{
		display: flex;
		flex-wrap: wrap;
	}

	th{
		text-align: left;
		padding: 5px;
		color: whitesmoke;
		background: #a1d3b0;
		font-weight: normal;
	}

	td{
		padding: 10px 5px;
	}

	td input{
		width: 40px;
		height: 30px;
		padding: 5px;
	}

	td a{
		color: #ff0033;
		font-size: 12px;
	}

	td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
	}

	.total-price{
		display: flex;
		justify-content: flex-end;
	}

	.total-price table{
		border-top: 3px solid#000000;
		width: 100%;
		max-width: 350px;
	}

	td:last-child{
		text-align: right;
	}

	th:last-child{
		text-align: right;
	}

	/*----------------------------------end for cart----------------------------*/

	.footer{
		background: black;
		color: #8a8a8a;
		font-size: 14px;
		padding: 60px 0 20px;
	}
	.footer p{
		color: #8a8a8a;
	}
	.footer h3{
		color: whitesmoke;
	}
	.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
		min-width: 25px;
		margin-bottom: 20px;
	}
	.footer-col-1{
		display: flex;
		align-items: center;
		padding: 20px;

	}
	.footer-col-2{
		flex:1;
		text-align: center;
	}
	.footer-col-2 img{
		margin-bottom: 0px;
	}
	.footer-col-3, .footer-col-4{
		flex-basis: 12%;
		text-align: center;
	}
	ul{
		list-style: none;
	}
	.footer hr{
		border: none;
		background: #b5b5b5;
		height: 1px;
		margin: 20px 0;
	}
	.copyright{
		text-align: center;
	}
	.menu-icon{
		width: 28px;
		margin-left: 20px;
		display: none;
	}
	@media only screen and (max-width: 800px){
		nav ul{
			position: absolute;
			top: 70px;
			left: 0;
			background: #333333;
			opacity: 0.8;
			width: 100%;
			overflow: hidden;
			transition: max-height 0.6s;
		}
		nav ul li{
			display: block;
			margin-bottom: 10px;
			margin-right: 50px;
			margin-top: 10px;
		}
		nav ul li a{
			color: whitesmoke;
		}
		.menu-icon{
			display: block;
			cursor: pointer;
		}
	}

		.row-2{
			justify-content: space-between;
			margin: 100px auto 50px;
		}
		.boton{
			border: 1px solid coral;
			padding: 5px;
		}		
		/*----------------button------------------------*/
		.page-btn{
			margin: 0 auto 80px;
		}
		.page-btn span{
			display: inline-block;
			background: #98FB98;
			border: 1px solid #98FB98;
			margin-left: 10px;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			cursor: pointer;
		}
		.page-btn span:hover{
			background: white;
			color: whitesmoke;
		} 
		
		/*------------Single-Product------------------*/

		.single-product{
			margin-top: 80px;
		}
		.single-product .col-2 img{
			padding: 0;
		}
		.single-product .col-2{
			padding: 20px;
		}
		.single-product h4{
			margin: 20px 0;
			font-size: 22px;
			font-weight: bold;
		}
		.single-product select{
			display: block;
			padding: 10px;
			margin-top: 20px;
			border: 1px solid green;
		}
		.single-product input{
			width: 50px;
			height: 40px;
			padding-left: 10px;
			font-size: 20px;
			margin-right: 10px;
			border: 1px solid green;
		}
		.small-container input{
			width: 40px;
			height: 40px;
			padding-left: 10px;
			font-size: 20px;
			margin-right: 10px;
			border: 1px solid green;
		}
		 input:focus{
			outline: none;
		}
		.single-product .fa{
			color: #98FB98;
			margin-left: 10px;
		}

		.small-img-row{
			display: flex;
			justify-content: space-between;
		}
		.small-img-col{
			flex-basis: 24%;
			cursor: pointer;
		}
/*------------ End Single-Product------------------*/


	@media only screen and (max-width: 600px){
		.row{
			text-align: center;
		}
		.col-2, .col-3, .col-4{
			flex-basis: 100%;
		}

		.single-product .row{
			text-align: left;
		}
		.single-product .col-2{
			padding: 20px 0;
		}
		.single-product h1{
			font-size: 26px;
			line-height: 32px;

		}

	}

		/*----------------------------------Search----------------------------*/
	.container .search-box{
		background: #a1d3b0;
		height: 40px;
		border-radius: 40px;
		padding: 10px;
	}

	.search-box:hover > .search-txt{
		width: 240px;
		padding: 0 6px;
	}

	.container.search-box:hover > .search-btn{
		background: white;
	}

	.container.search-btn{
		color: #e84118;
		float: right;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #a1d3b0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-txt{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: black;
		font-size: 16px;
		transition: 0.4s;
		line-height: 20px;
		width: 0px;
	}
	/*---------------------------------End Search----------------------------*/


			/* Style buttons */
		.small-container .col-4 .btn{
		  border: none; /* Remove borders */
		  color: black; /* White text */
		  padding: 12px 16px; /* Some padding */
		  font-size: 16px; /* Set a font size */
		  cursor: pointer; /* Mouse pointer on hover */
		}

		/* Darker background on mouse-over */
		.btn:hover {
		  background-color: yellow;
		}

		.col-2 .rating{
			color: black;
		}

			/* Style buttons */
		.col-2 .btn{
		  border: none; /* Remove borders */
		  color: black; /* White text */
		  padding: 12px 16px; /* Some padding */
		  font-size: 16px; /* Set a font size */
		  cursor: pointer; /* Mouse pointer on hover */
		}

		/*---------------------------------------------------------------->Login<---------------------------------------------------------------------*/

	.account-page{
		padding: 50px 0;
		background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
		
	}
	.form-container{
		background: #ffffff;
		width: 300px;
		height: 400px;
		position: relative;
		text-align: center;
		padding: 20px 0;
		margin: auto;
		box-shadow: 0 0 20px 0px rgba(0,0,0,0,3);
		border-radius: 9px;
		overflow: hidden;
	}
	.form-container span{
		font-weight: bold;
		font-size: 10px;
		padding: 0 10px;
		color: #555555;
		cursor: pointer;
		width: 100px;
		display: inline-block;
	}
	.form-btn{
		display: inline-block;
	}
	.form-container form{
		max-width: 300px;
		padding: 0 20px;
		position: absolute;
		top:130px;
		
	}
	form input{
		width: 100%;
		height: 30px;
		margin: 10px 0;
		padding: 0 10px;
		border: 1px solid #cccccc;
	}
	
	form .btn{
		width: 100%;
		border:none;
		cursor: pointer;
		margin: 10px 0;
	}
	form .btn:focus{
		outline: none;
	}
	#LoginForm{
		left:0px;
	}
	#Regform{
		left:-300px;
	}
	form a{
		font-size: 12px;
	}

	#Indicator{
		width: 100px;
		border: none;
		background: coral;
		height: 3px;
		margin-top: 8px;
		transform: translateX(0px);
		transition: transform 1s;
	}
	
/*---------------------------------------------------------------->Sign Up<---------------------------------------------------------------------*/

		
		.form-container1{
		background: #ffffff;
		width: 320px;
		height: 500px;
		position: relative;
		text-align: center;
		padding: 20px 0;
		margin: auto;
		box-shadow: 0 0 20px 0px rgba(0,0,0,0,3);
		border-radius: 9px;
		
	}
	.form-container1 span{
		font-weight: bold;
		font-size: 10px;
		padding: 0 10px;
		color: #555555;
		cursor: pointer;
		width: 100px;
		display: inline-block;
	}
	
	.form-container1 form{
		max-width: 300px;
		padding: 0 20px;
		position: absolute;
		top:100px;
	}
	.container .user-details{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin: 5px 0 12px 0;
			
		}

	.user-details .input-box .details{
			display: block;
			font-weight: 500;
			margin-bottom: 0px;
			margin-top: 0PX;
		}
	.user-details .input-box input{
			height: 25px;
			width: 100%;
			font-size: 10px;
			outline: none;
			border-radius: 5px;
			border: 1px solid #ccc;
			padding-left: 10px;
			border-bottom-width: 2px;
			
			transition: all 0.3s ease;
		}
	.user-details .input-box input:focus,
	.user-details .input-box input:valid{
			border-color: #9b59b6;
		}
		form .gender-details .gender-title{
			font-size: 15px;
			font-weight: 500;
		}
		form .gender-details .category{
			display: flex;
			width: 80%;
			margin: 14px 0;
			justify-content: space-between;
		}
		.gender-details .category label{
			display: table-footer-group;
			align-items: center;
		}
		.gender-details .category .dot{
			height: 25px;
			width: 10px;
			background: #d9d9d9;
			border-radius: 50%;
			margin-right: 10px;
			border: 5px solid transparent;
			transition: all 0.3s ease;
		}
		#dot-1:checked ~ .category .one,
		#dot-2:checked ~ .category .two,
		#dot-3:checked ~ .category .three{
			border-color: #d9d9d9;
			background: #9b59b6;
		}
		input[type="radio"]{
			display:none;
		}
		.button{
			height: 25px;
			

		}
		.button input{
			height: 100%;
			width: 50%;
			outline: none;
			color: #fff;
			border: none;
			font-size: 10px;
			font-weight: 500;
			letter-spacing: 1px;
			border-radius: 5px;

			background: linear-gradient(135deg, #71b7e6, #9b59b6);
		}
		
		.button input:hover{
			background: linear-gradient(-135deg, #71b7e6, #9b59b6);
		}
		@media (max-width: 584px){
			.container{
				max-width: 100%;
			}
		.user-details .input-box{
			margin-bottom: 15px;
			width: 100%;
		}
		.gender-details .category{
			width: 100%;
		}
		.container .user-details{
			max-height: 300px;
			overflow-y: scroll;
		}
		.user-details::-webkit-scrollbar{
			width: 0;
		}
	}

	#Indicator1{
		width: 100px;
		border: none;
		background: coral;
		height: 3px;
		margin-top: 8px;
		transform: translateX(100px);
		transition: transform 1s;
	}

	/*--------------------------------------about---------------------------------------*/

	.about-section{
		padding: 50px;
		text-align: center;
		background-color: #fff;
		color: black;
		margin-top: 10px;
	}

	.about-section p{
		color: black;
	}

	.team{
		background-color: #a1d3b0;
	}

	.column{
		float: left;
		width: 33.3%;
		margin-bottom: 16px;
		padding: 0 8px; 
	}

	.card{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		margin: 8px;
	}

	.container{
		padding: 0 16px;
	}

	.cont{
		text-align: center;
	}

	.profession{
		color: grey;
		text-align: center;
	}


	.cont .button{
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: white;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 100%;
	}

	.button:hover{
		background-color: #555;
	}


	/*------------------------------------------------------------end for about-------------------------------------------------------------------*/

	/*---------------------------------------------------------------->About<---------------------------------------------------------------------*/

	.about-page{
		padding: 50px 0;
		 background: linear-gradient(to right, #a1d3b0, #f6f1d3);
	}
	

	.roww{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.col{
		flex-basis: 50%;
		min-width: 300px;
	}

	.col-2 img{
		max-width: 100%;
		padding: 50px 0;
	}
	.col-2 h2{
		font-size: 30px;
		line-height: 40px;
		margin: 25px 0;
	}

	.container1{

		margin: 0;
		padding: 100px 0px;
		height: 100%;
		box-sizing: border-box;
		font-family: sans-serif;
	}

	h1{
		text-align: center;
		color: #1785eb;
		font-size: 45px;
	}

	.container1 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		margin: auto;
	}
	.our-team{
		background: #f7f5ec;
		text-align: center;
		overflow: hidden;
		position: relative;
		padding: 30px 0 40px;
		margin: 0px 20px;
		width: 30%;
	}
	.our-team .pic{
		display: inline-block;
		width: 130px;
		height: 130px;
		margin-bottom: 0px;
		z-index: 1;
		position: relative;
	}
	.our-team .pic::before{
		content: "";
		width: 100%;
		height: 0;
		border-radius: 50%;
		background: #1785eb;
		position: absolute;
		bottom: 135%;
		right: 0;
		left: 0;
		opacity: 0.2;
		transform: scale(3);
		transition: all 0.3s linear 0s;
	}
	.our-team:hover .pic::before{
		height: 100%;
	}
	.our-team .pic:after{
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #1785eb;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.our-team .pic img{
		width: 100%;
		height: auto;
		border-radius: 50%;
		transform: scale(1);
		transition: all 0.9s ease 0s;
	}
	.our-team:hover .pic img{
		box-shadow: 0 0 0 14px #f7f5ec;
		transform: scale(0.7);
	}
	.our-team .team-content{
		margin-bottom: 30px;
	}

	.our-team .title {
		font-size: 22px;
		font-weight: 700;
		color: #4e5052;
		letter-spacing: 1px;
		margin-bottom: 5px;
	}
	.our-team .post{
		display: block;
		font-size: 15px;
		color: #4e5052;
	}
	.our-team .social{
		width: 100%;
		padding: 0;
		margin: 0;
		background: #1785eb;
		position: absolute;
		bottom: -100px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.our-team:hover .social{
		bottom: 0;
	}
	.our-team .social li{
		display: inline-block;
	}
	.our-team .social a {
		text-decoration: none;
		display: block;
		padding: 10px;
		font-size: 17px;
		color: #fff;
		transition: all 0.3s ease 0s;
	}
	.our-team .social li a:hover{
		color: #1785eb;
		background: #f7f5ec;
	}

	@media (max-width: 720px) {
		.container {
			flex-direction: column;
		}
		.our-team {
			width: 80%;
			margin-top: 30px;
		}
	}

	/*---------------------------------------------------------------->Services<---------------------------------------------------------------------*/
	.services{
		padding: 10px 0;
		background: linear-gradient(to right, #a1d3b0, #f6f1d3) !important;
	}
	.services-title{
		color: #777;
		font-family: 'Raleway';
		font-size: 3em;
		width: 1200px;
		margin: 10px auto;
		text-align: center;
	}
	.services1{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 600px;	}
	.card1{
		height: 500px;
		width: 300px;
		padding: 20px 35px;
		border-radius: 10px;
		background: #dff9fb;
		margin: 10px;
		overflow: hidden;
		position: relative;
		transition: all 0.3s cubic-bezier(0.02,0.01,0.47,1);
	}
	.card1 .icon{
		font-size: 64px;
		display: block;
		text-align: center;
		color: #7ed6df;
		margin-top: 18px;
	}
	.card1 h1{
		font-family: 'Raleway';
		text-align: center;
		color: #22a6b3;
		font-size: 22px;
	}
	.card1 a{
		text-decoration: none;
	}
	.card1 .content p{
		font-size: 14px;
		color: #535c68;
		line-height: 20px;
		font-family: 'century gothic';
	}
	.card1:hover{
		color:#fff;
		border: none;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		animation: rotate 0.7s ease-in-out both;
	}
	.card1:before,
	.card1:after{
		content: "";
		background: #22a6b3;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		opacity: 0;
		position: absolute;
		right: 0;
		bottom: -80px;
		z-index: -1;
		transform: translate(100%,-25%) translate3d(0,0,0);
		transition: all 0.3s cubic-bezier(0.02,0.01,0.47,1);
	}
	.card1:before,
	.card1:after{
		opacity: 0.15;
	}
	.card1:hover:before{
		transform: translate3d(50%,0,0)scale(0.9);
	}
	.card1:hover:after{
		transform: translate3d(50%,0)scale(1.1);
	}
	/*animation*/
	@keyframes rotate{
		0%{transform: rotate(0deg);}
		25%{transform: rotate(3deg);}
		50%{transform: rotate(-3deg);}
		75%{transform: rotate(1deg);}
		100%{transform: rotate(0deg);}
	}
	/*Responsive*/
	@media(max-width: 900px){
		.services-title{
			width: 100%;
		}
		.services-title h1{
		font-size: 20px;

	}.services{
		flex-direction: column;
	}


	.card{
		width: 10%;
	}